/* Existing styles */
.nav-button {
  -fx-background-color: #ffffff;
  -fx-text-fill: rgb(0, 0, 0);
  -fx-font-size: 12px;
  -fx-background-radius: 0;
  -fx-padding: 5 10;
}

.nav-button:hover {
  -fx-background-color: #b1b1b1;
  -fx-text-fill: rgb(0, 0, 0);
  -fx-cursor: hand; 
}

.nav-button:disabled {
  -fx-opacity: 1.0; /* Make sure it has the same opacity */
  -fx-background-color: #7a7a7a; /* Keep the same color */
  -fx-text-fill: black; /* Keep the same text color */
}

.nav-current {
  -fx-background-color: #ffffff;
  -fx-text-fill: rgb(0, 0, 0);
  -fx-font-size: 12px;
  -fx-background-radius: 0;
  -fx-padding: 5 10;
}

/* Text area styles */
.text-area .content {
  -fx-background-color: black;
  -fx-text-fill: white;
}

.text-area {
  -fx-text-fill: white;
}

.text-field {
  -fx-text-inner-color: white;
}



.custom-font {
  -fx-font-family: 'Open 24 Display St';
  -fx-font-size: 40px;
}

.prompt-font {
  -fx-font-family: 'MonoSpaceTypewriter';
  -fx-font-size: 13px;
}

.chat-font {
  -fx-font-family: 'MonoSpaceTypewriter';
  -fx-font-size: 11px;
}

/* Updated styles for MenuItems */
.menu-item,
.menu-item:hover,
.menu-item:focused,
.menu-item:focused:hover,
.menu-item:armed,
.menu-item:selected {
    -fx-text-fill: black;
    -fx-background-color: transparent; /* Or set to your desired color */
    -fx-cursor: hand; 
}

/* Customize hover background color */
.menu-item:hover {
    -fx-background-color: #b1b1b1;
    -fx-cursor: hand; 
}

/* Customize focused and armed background color */
.menu-item:focused,
.menu-item:focused:hover,
.menu-item:armed {
    -fx-background-color: #b1b1b1;
    -fx-cursor: hand; 
}

/* Disabled MenuItems */
.menu-item:disabled {
    -fx-text-fill: gray;
}

.menu-item-label {
  -fx-text-fill: black;
  -fx-background-color: transparent;
  -fx-padding: 5 10;
}

/* Hover effect for menu item labels */
.menu-item-label:hover {
  -fx-background-color: #b1b1b1;
  -fx-cursor: hand; 
}

.current-room-label {
  -fx-background-color: #a9a9a9; /* Example darker gray */
}

